.approved-page {
  background-color: #000000; /* Black */
  color: #FFFFFF; /* White */
  padding: 20px;
}

.approved-page h1 {
  color: #660001; /* Dark red */
  margin-bottom: 20px;
}

.requests-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #000000; /* Black */
  color: #FFFFFF; /* White */
}

.requests-table th, .requests-table td {
  border: 1px solid #0f0ff0; /* Blue */
  padding: 10px;
  text-align: left;
}

.requests-table th {
  background-color: #f00f0f; /* Red */
}