.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.b-logo {
  width: 180px;
  height: 180px;
  object-fit: contain;
  pointer-events: none;
}
