.metallic-paint-logo-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metallic-paint-overlay {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.logo-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3));
}

.metallic-paint-canvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  border-radius: 50%;
  z-index: 1;
}
