.metallic-paint-logo-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metallic-paint-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.4));
}
